#from urllib import quote
#from gratia.database.query_handler import displayName

<h2>Computation Hours</h2>
<h5>This report filters batch-pilot records with VO-overide.</h5>
<p><iframe src="$base_url/html/glidein_hours_bar_smry$filter_url&no_html_frame=y" frameborder="0" scrolling="no" onload="resizeIframe(this)" ></iframe></p>
<p><iframe src="$base_url/html/glidein_dn_hours_bar$filter_url&no_html_frame=y" frameborder="0" scrolling="no" onload="resizeIframe(this)" ></iframe></p>

<!-- Controls for filtering sites / VOs / dates / etc -->
#include $refine

