#from urllib import quote
#from gratia.database.query_handler import displayName

#include $image_maps

<h2>Field Of Science Accounting</h2>

<h5>CPU Hours per Field of Science (Pie) (<a href="$base_url/xml/osg_fos_hours$filter_url">Analyze</a>)</h5>
<img src="$base_url/pie_graphs/osg_fos_hours$filter_url" usemap="#map"></p>

<h5>Job Count by Field of Science (<a href="$base_url/xml/project_fos_job_cnt$filter_url">Analyze</a>)</h5>
<p><img src="$base_url/bar_graphs/project_fos_job_cnt$filter_url" usemap="#map"></p>

<h5>Daily Hours by Field of Science (<a href="$base_url/xml/project_fos_hours_bar$filter_url">Analyze</a>)</h5>
<p><img src="$base_url/bar_graphs/project_fos_hours_bar$filter_url" usemap="#map"></p>

<!--
<h5>Daily Hours by Field of Science and Site (<a href="$base_url/xml/fos_site_hours_bar$filter_url">Analyze</a>)</h5>
<p><img src="$base_url/bar_graphs/fos_site_hours_bar$filter_url" usemap="#map"></p>
-->

<h5>Monthly CPU Hours per Field of Science (<a href="$base_url/xml/monthly_fos_cpu_hours$filter_url">Analyze</a>)</h5>
<img src="$base_url/bar_graphs/monthly_fos_cpu_hours$filter_url" usemap="#map"></p>

<h5>Monthly Wall Hours per Field of Science (<a href="$base_url/xml/monthly_fos_hours$filter_url">Analyze</a>)</h5>
<img src="$base_url/bar_graphs/monthly_fos_hours$filter_url" usemap="#map"></p>

<h5>Monthly Job Count per Field of Science (<a href="$base_url/xml/monthly_fos_job_count$filter_url">Analyze</a>)</h5>
<img src="$base_url/bar_graphs/monthly_fos_job_count$filter_url" usemap="#map"></p>

<!-- Controls for filtering sites / VOs / dates / etc -->
#include $refine



