#import locale
#if $error

  <p style="background-color: #FEEFB3;padding:20px;">We're sorry, but an error occurred while collecting the data for the page.
     Please try again at a later time.
  </p>
  <p>
        <strong>Message:</strong> $error_message
  </p>

#else

<style type="text/css">
.yui-skin-sam .yui-dt td {
            margin:0;padding:0;
            border:none;
            border-right:1px solid #CBCBCB; /* inner column border */
            text-align:right;
        }
</style>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>

<script>
        function addComma(yourNumber) {
            var n= yourNumber.toString().split(".");
            n[0] = n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return n.join(".");
        }

      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTables);
      function drawTables()
      {
  var cmsValues = 
        [
                  #if len($cms_feds) > 0
                    #set keys = sorted($cms_feds)
                    #for key in $keys
                        ['$key', {v: $round(100*$reliability[$key])}, {v: $round(100*$availability[$key])}, {v: $round($wall[$key]), f:addComma($round($wall[$key]))},{v: $round(100*$lhc_cpu[$key]/$float($lhc_wall[$key]+1e-6))}, {v: $round($cpu[$key]), f:addComma($round($cpu[$key]))}, {v: $mou[$key], f:addComma($mou[$key])}, {v: $round($lhc_cpu[$key]), f:addComma($round($lhc_cpu[$key]))}],
                    #end for
                  #end if
        ];

  var atlasValues = 
        [
                  #if len($atlas_feds) > 0
                    #set keys = sorted($atlas_feds)
                    #for key in $keys
                        ['$key', {v: $round(100*$reliability[$key])}, {v: $round(100*$availability[$key])}, {v: $round($wall[$key]), f:addComma($round($wall[$key]))},{v: $round(100*$lhc_cpu[$key]/$float($lhc_wall[$key]+1e-6))}, {v: $round($cpu[$key]), f:addComma($round($cpu[$key]))}, {v: $mou[$key], f:addComma($mou[$key])}, {v: $round($lhc_cpu[$key]), f:addComma($round($lhc_cpu[$key]))}],
                    #end for
                  #end if
        ];

  var aliceValues = 
        [
                  #if len($alice_feds) > 0
                    #set keys = sorted($alice_feds)
                    #for key in $keys
                        ['$key', {v: $round(100*$reliability[$key])}, {v: $round(100*$availability[$key])}, {v: $round($wall[$key]), f:addComma($round($wall[$key]))},{v: $round(100*$lhc_cpu[$key]/$float($lhc_wall[$key]+1e-6))}, {v: $round($cpu[$key]), f:addComma($round($cpu[$key]))}, {v: $mou[$key], f:addComma($mou[$key])}, {v: $round($lhc_cpu[$key]), f:addComma($round($lhc_cpu[$key]))}],
                    #end for
                  #end if
        ];
        drawTable(cmsValues,'cms') ;
        drawTable(atlasValues,'atlas') ;
        drawTable(aliceValues,'alice') ;
      }

      function drawTable(rowArray, divid) {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Federation');
        data.addColumn('number', 'Reliability');
        data.addColumn('number', 'Availability');
        data.addColumn('number', 'CPU Wallclock hours for Owner VO');
        data.addColumn('number', 'CPU efficiency for Owner VO');
        data.addColumn('number', 'CPU hours for Owner VO');
        data.addColumn('number', 'MoU Pledge');
        data.addColumn('number', 'Wallclock hours delivered to all OSG VOs');
        data.addRows(rowArray);
        var table = new google.visualization.Table(document.getElementById(divid));
        table.draw(data);
      }

</script>
<div id='table_div'></div>

<h2>$month_name $year Overview:</h2>
<p>This report shows USLHC Tier 2 reliability and usage during $month_name $year as measured by OSG tools.</p>
<div>
<form action="$base_url/jot_reporting" method="get">
<p>Select a different month's data:</p>
<p><label for="year">Year:</label>
<select name="year">
    #for i in range(2007, $year+1+int($month==12))
        #if $i == $year
            <option selected value="$i">$i</option>
        #else
            <option value="$i">$i</option>
        #end if
    #end for
</select>
<label for="month">Month:</label>
<select name="month">
    #for i in range(1,13)
        #if $i == $month
            <option selected value="$i">$i</option>
        #else
            <option value="$i">$i</option>
        #end if
    #end for
</select>
<input type="submit" value="Go!">
</p>
</form>
</div>
<h5>ATLAS</h5>
<div id="atlas"></div>
<br/>
<h5>CMS</h5>
<div id="cms"></div>
<br/>
<h5>ALICE</h5>
<div id="alice"></div>
<ul>
<li>MOU Pledge is in units of "CPU Hours for the month, assuming Efficiency of 60%."</li>
<li>Reliability/Availability cells colored to match WLCG: green indicate a score between 90% and 100%; yellow indicate a score between 60% and 90%; orange indicate a score between 30% and 60%; red indicate a score between 0% and 30%</li>
</ul>
#end if

