
#if $error

  <p style="background-color: #FEEFB3;padding:20px;">We're sorry, but an error occurred while collecting the data for the page.
     Please try again at a later time.
  </p>
  <p>
        <strong>Message:</strong> $error_message
  </p>

#else

<h1>WLCG Reporting (Detailed) for $month_name, $year</h1>

<style type="text/css">
.yui-skin-sam .yui-dt td { 
	    margin:0;padding:0; 
	    border:none; 
	    border-right:1px solid #CBCBCB; /* inner column border */ 
	    text-align:right; 
	} 
</style>

<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script>
      function addComma(yourNumber) 
      {
            var n= yourNumber.toString().split(".");
            n[0] = n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            return n.join(".");
      }

      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTables);
      function drawTables()
      {
        apel = [
          #if len($apel) > 0
            #for row in $apel
                {"FederationName": '$row.FederationName', "ResourceGroup": '$row.ResourceGroup', "VO": '$row.LCGUserVO', "Njobs": $row.Njobs, "SumCPU": $row.SumCPU, "Norm_CPU": $row.Norm_CPU, "SumWCT": $row.SumWCT, "Norm_WCT": $row.Norm_WCT, "Start": "$row.RecordStart", "End": "$row.RecordEnd", "Norm": $row.NormFactor, "PctEff": $row.PctEff },
            #end for
          #end if
          ];      
        apel_display=["ResourceGroup", "VO", "Njobs", "SumCPU", "SumWCT", "Norm_CPU", "End"];
        apel_col_types={"ResourceGroup":'string', "VO":'string', "Njobs":'number', "SumCPU":'number', "SumWCT":'number', "Norm_CPU":'number', "End":'string'};
        var apel_col_labels = {"ResourceGroup":"Resource\nGroup", "VO":"VO", "Njobs":"Jobs", "SumCPU":"CPU\nHours", "SumWCT":"Wall\nHours", "Norm_CPU":"Norm\nCPU\nHours", "End":"Last\nReported"};

        drawTable(apel,apel_col_types, apel_display, apel_col_labels, "wlcg");

        fedRpt = [
          #if len($fedRpt) > 0
            #for row in $fedRpt
                {"FederationName": '$row.FederationName', "ResourceGroup": '$row.ResourceGroup', "VO": '$row.LCGUserVO', "ResourcesReporting": '$row.ResourcesReporting'},
            #end for
          #end if
          ];      
        fedRpt_display=["ResourceGroup", "VO", "ResourcesReporting"];
        fedRpt_col_types={"ResourceGroup":'string', "VO":'string', "ResourcesReporting":'string'};
        var fedRpt_col_labels = {"ResourceGroup":"Resource Group", "VO":"VO", "ResourcesReporting":"Resources Reporting"};

        drawTable(fedRpt, fedRpt_col_types, fedRpt_display, fedRpt_col_labels, "fedRpt");

      }


      function drawTable(rowHash,columnTypes, showColumns, colLables, inDiv) {
        var data = new google.visualization.DataTable();
        for (var i in showColumns) {
          data.addColumn(columnTypes[showColumns[i]], colLables[showColumns[i]]);
        }

        var rowArray =[];
        for (var i in rowHash) {
          var eachrow=[];
          for (var j in showColumns) {
                if(columnTypes[showColumns[j]] == 'number')
                {
                        eachrow.push({v:rowHash[i][showColumns[j]], f:addComma(rowHash[i][showColumns[j]])});
                }else
                {
                        eachrow.push(rowHash[i][showColumns[j]]);
                }
          }
          rowArray.push(eachrow);
        }
        data.addRows(rowArray);
        var table = new google.visualization.Table(document.getElementById(inDiv));
        table.draw(data);
      }


</script>

<div>
<form action="$base_url/wlcg_reporting" method="get">
<p>Select a different month's data - :</p>
<p><label for="year">Year:</label>
<select name="year">
    #import datetime
    #for i in range(2007, datetime.datetime.now().year+1)
        #if $i == $year
            <option selected value="$i">$i</option>
        #else
            <option value="$i">$i</option>
        #end if
    #end for
</select>
<label for="month">Month:</label>
<select name="month">
    #for i in range(1,13)
        #if $i == $month
            <option selected value="$i">$i</option>
        #else
            <option value="$i">$i</option>
        #end if
    #end for
</select>
<input type="submit" value="Go!">
</p>
</form>
</div>
<br/>

<p>This data was reported at $report_time</p>
<p>(Note: Click on the column headers to sort the table by that column.)</p>
<div id="wlcg"></div> 
<br/>
<hr/>

<h2>Resources Reporting for Each Resource Group</h2>
<div id="fedRpt"></div>


<br/>
<hr/>

#end if

